
{% from "_formHelpers.html" import render_field %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Stefans Webshop</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'  rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/slick.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/slick-theme.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/nouislider.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .dropbtn {
          background-color: #D10024;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown-content a:hover {background-color: #ddd;}
        
        .dropdown:hover .dropdown-content {display: block;}
        
        .dropdown:hover .dropbtn {background-color: #D10024;}
        </style>
</head>
<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +46-111-22-33</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> Testgatan 122</a></li>
                    {% if current_user.is_authenticated and current_user.has_roles("Admin") %}
                    <li><a href="{{ url_for('Admin.allnewsletters') }}"><i class="fa fa-envelope-o"></i>Newsletters</a></li>
                    <li><a href="{{ url_for('product.allproducts') }}"><i class='bx bxl-product-hunt'></i>Products</a></li>
                    <li><a href="{{ url_for('product.allcategories') }}"><i class='bx bxs-category-alt'></i> Categories</a></li>
                    {% endif %}
                </ul>
                <ul class="header-links pull-right">
                    <div class="dropdown">
                        <button class="dropbtn"><i style="font-size: 20px;" class='bx bx-menu' ></i></button>
                        <div class="dropdown-content">
                        {%  if current_user.is_authenticated    %}
                          <a href="{{ url_for('user.logout') }}">Log out</a>
                          <a href="{{ url_for('users.MyAccount') }}">My account</a>
                        {% else %}
                          <a href="{{ url_for('user.login') }}">Log in</a>
                          <a href="{{ url_for('users.NewUser') }}">Register</a>
                        {% endif %}
                          
                        </div>
                      </div>
                </ul>

<!-- DET GAMLA SOM FUNKADE  -->
                <!-- 
                    <ul class="header-links pull-right">
                    <partial name="_LoginPartial" />
                    <li class="sidenav__list-item">
                        {%  if current_user.is_authenticated    %}
                            <a href="{{ url_for('user.logout') }}"> <i class="fa fa-arrow-circle-right"></i>
                             Logout</a>

                        {%  else    %}
                            <a href="{{ url_for('user.login') }}"> <i class="fa fa-arrow-circle-right"></i>
                            Logga in</a>

                        {% endif %}
                    </li>
                </ul> -->
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="{{url_for('product.index')}}" class="logo">
                                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <input class="input" placeholder="Search here">
                                <button class="search-btn">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            {% if current_user.is_authenticated %}
                            <!-- Wishlist -->
                            <div>
                                <a href="{{url_for('wishlist.viewwishlist')}}">
                                    <i class="fa fa-heart-o"></i>
                                    <span>Your Wishlist</span>
                                    <div class="qty">{{wishlistamount}}</div>
                                </a>
                            </div>
                            <!-- /Wishlist -->
                            <!-- Cart -->
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                    <div class="qty">{{amount}}</div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list" >
                                        {% for p in cartdropdownproducts %}
                                        <div class="product-widget">
                                            <div class="product-img">
                                                {% set imagelist = ["product01.png", "product02.png", "product03.png", "product04.png", "product05.png","product06.png","product07.png","product08.png","product09.png"] %}
                                                {% set num = imagelist | random %}
                                                <img src="{{ url_for('static', filename='img/' + num)}}" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="{{url_for('product.product', id=p.ProductID)}}">{{p.ProductName}}</a></h3>
                                                <h4 class="product-price"><span class="qty">{{ cartdropdownproducts[p] }}x</span>${{ cartdropdownproducts[p] * p.UnitPrice }}</h4>
                                            </div>
                                            <a href="{{url_for('cart.viewcart', delete=True, productid=p.ProductID)}}" class="delete"><i class="fa fa-close"></i></a>
                                        </div>
                                        {% endfor %}
                                    </div>
    
                                    <div class="cart-summary">
                                        <small>{{amount}} Item(s) selected</small>
                                        <h5>SUBTOTAL: ${{cartdropdowntotal}}</h5>
                                    </div>
                            
                                    <div class="cart-btns">
                                        <a href="{{ url_for('cart.viewcart') }}">View Cart</a>
                                        <a href="{{url_for('cart.checkout')}}">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->
                            {% endif %}
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    @*@Html.Partial("_TopNav", ViewBag.TopMenuViewModel as StefanShopWeb.ViewModels.TopMenuViewModel)*@
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger alert-dismissible show" style="margin-right: 0px; margin-left: 0px;" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
              {{ message }}
            </div>
            {% endfor %}
            {% block maincontent %}{% endblock %}                 
 
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- NEWSLETTER -->
    {% if form and test == None %}
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                        <form method = "post">
                            {{ form.csrf_token }}
                            <!-- <input class="input" type="email" placeholder="Enter Your Email"> -->
                            <div class ="textarea.input">
                            {{render_field(form.EpostAdress)}}
                        </div>
                     

                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                        </form>
                        <!-- <form method='POST' action="">

                            <input type="hidden" id="rating_content" name='rating' value='0'>
                  
                            <input type="submit" id="submitbtn" class="btn btn-primary mt-2" value="Submit my Rating">
                  
                          </form> -->
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    {% else %}
    {% endif %}
    <!-- /NEWSLETTER -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="{{ url_for('site.about') }}">About Us</a></li>
                                <li><a href="{{ url_for('site.contact') }}">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="{{ url_for('site.terms') }}">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <!-- <script src="{{ url_for('static',filename='js/slick.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/nouislider.min.js') }}"></script> -->
    <script src="{{ url_for('static',filename='js/jquery.zoom.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    {% block scripts %}{% endblock %}                 
 
</body>
</html>s
